/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bu{
		-fx-background-color: #ff0000;
	-fx-background-radius: 5px;
	-fx-cursor:mhand;
	-fx-text-fill: #fff;
	-fx-font-size:  14px;
}
.bu:hover{
	-fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f);
}
.pa{
	-fx-background-color:#000000;
}